* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 180px;
}

.articles article {
    width: 30%
}

h1{
    font-size: 48px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 20px;
}

/*.whatsapp img{
    height: 100px;
    padding: 0;
    cursor: pointer
}*/

/*.button-whatsapp {
    background: none;
    border: none;
}*/